*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.dashBoardHeading{
    display: flex;
    height: 50px;
    background-color: #393646;
    color: white;
    padding: 10px;
    justify-content: space-between;
}
.LMSHead{
    font-size: 40px;
    font-weight: 500;
    margin-left: 50px;
}
.logoutIcon{
    height: 30px;
    width: 30px;
    background-color: white;
    cursor: pointer;
}
.helloMsg{
    font-size: 20px;
    padding-top: 12px;
}
.profilePhoto{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 20px;
}
.dashboardBody{
    display: flex;  
    height: 683px;
    width: 100%; 
    color: white; 
}
.dashboardMenu{
    width: 450px;
    background-color: #2C3333;
    height: 100%;
}
.menuItems{
    height: 80px;
    border: 2px white solid;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}
.menuItems:hover{
    background-color: #4e5a5a;
}
.iconImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin-top: 20px;
}
.menuText{
    font-size: 20px;
    margin-top: 30px;
}


.dashBoardBody{
    height: 100%;
    width: 1593px;
}
.dashBoardDisplayBody{
    padding: 20px;
}
.displayContent{
    /* margin-left: 100px; */
    /* margin-top: 80px; */
}
.numberOfRequest{
    background-color: #87ea66;
    height: 140px;
    width: 350px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.innerText{
    padding-top: 60px;
    padding-left: 65px;
}

.showRequestDetails{
    height: 50px;
    width: 350px;
    background-color: #266a0f;
    font-size: 18px;
    cursor: pointer;
}
.showRequestDetails:hover{
    background-color: #3f8527;
}
.showDetails{
    padding-left: 95px;
    padding-top: 15px;
}
.costTable{
    color: black;
    width: 100%;
}
table{
    border-collapse: collapse;
}
td{
    border: 2px grey solid;
    font-size: 20px;
}
.itemType{
    font-size: 25px;
    font-weight: 700;
    width: 400px;
    height: 50px;
    padding-left: 20px;
}
.itemCost{
    width:700px;
    padding-left: 20px;
}
.tableHead{
    font-size: 30px;
    color: black;
    padding-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}
footer{
    align-self: baseline;
    background-color: rgb(186, 183, 183);
    height: 70px;
    margin-top: 40px;
}
.copyrightText{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 380px;
}
.DetailsPage{
    width: 100%;
    z-index: 2;
    display: none;
    padding-top: 15px;
}
.SingleDetail{
    width: 100%;
    border: 1px black dotted;
    border-radius: 8px;
}
.SubmitDetails{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
}
.closeBtn{
    background-color: red;
    color: black;
    font-weight: 700;
    font-size: 20px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    margin-left: 80px;
}
.CompletedMsg{
    font-size: 22px;
    margin-left: 10px;
    font-weight: 600;
    color: red;
}
.ProcessedMsg{
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
    color: rgb(6, 93, 6);
}